/**
 * Main
 * 
 * @author Fred Stevens-Smith (@fredsters_s) while working on @RainforestQA
 */
.main {
	padding: 2em;
	h1 {
		@include margin-trailer(1);
		text-align: center;
		text-transform: capitalize;
	}
}

#{headings()} {
	font-family: "PT Serif";
	font-weight: 700
;}

a {
	color: $blue;
	text-decoration: none;
	border-bottom: 1px solid $blue;
}

td {
	vertical-align: top;
}

div.highlight {
	@include adjust-font-size-to(16px);
	@include margin-trailer(1);
	font-family: "PT Serif";
	font-weight: 400;
}

p,h2,h3 {
	@include margin-trailer(1);
}

p.date {
	@include background-image(radial-gradient(center center, #B9D2E5 0%, white 50%));
	text-align: center;
	@include adjust-font-size-to(16px, 1, 20px);
}