/**
 * Main
 * 
 * @author Fred Stevens-Smith (@fredsters_s) while working on @RainforestQA
 */
body {
	font-size: 20px;
}

.main {
	padding: 2em;
}

h1,h2,h3 {
	font-family: "PT Serif";
}

h1,h2 {
	a {
		color: $blue;
		text-decoration: none;
		border-bottom: 1px solid $blue;
	}
}

td {
	vertical-align: top;
}

