/**
 * Post
 * 
 * @author Fred Stevens-Smith (@fredsters_s) while working on @RainforestQA
 */
.post {
  max-width: $line_width;
  .meta { 
  	color: tint($black, 40); 
	@include margin-leader(1);
  }
  img { max-width: 100%; }
  p,.meta,ul{@include rhythm(0,0,0,1,20px)}
}
