%h1
	%a{ href: "/" } Sitex

%ul
	%li
		%a{ href: "/pages/about" } Автор
	%li
		%a{ href: "/pages/services" } Услуги
	%li
		%a{ href: "/pages/portfolio" } Портфолио

%h2
	Рубрики

%ul
	%li
		%a{ href: "/tags/frontend" } FrontEnd
	%li
		%a{ href: "/tags/backend" } BackEnd
	%li
		%a{ href: "/tags/primer" } Primer
